<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NihaWeb</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container chat-container">
        <div id="chat-box">
            <ul id = "chat-messages">
                {% for chat in chatHistory %}
                    <li class = "{{ 'user-message' if chat.sender == 'User' else 'niha-message' }}">
                        <img src="{{ url_for('static', filename='/images/' + ('User.png' if chat.sender == 'User' else 'AI.png')) }}" alt="Avatar" class="avatar">
                        <div class="message-text">{{ chat.message }}</div>
                    </li>
                    {% if chat.sender == 'Niha'%}
                        <div class="feedback-buttons">
                            <button class="feedback-button thumbs-up" data-value="up">👍</button>
                            <button class="feedback-button thumbs-down" data-value="down">👎</button>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>     
             <form method = "POST" id="chat-form" class="chat-form">
                <input type="text" name = "question" id="user-input" placeholder="Ask something..." autofocus>
                <button type="submit" id="send-button" class="btn btn-primary">Send</button>
            </form>
            <form method="POST">
                <input type="hidden" name="feedback" id="feedback-input" value="">
            </form>
         </div>
    </div>
    <script src="static/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>