<!DOCTYPE html>
<html>
<head>
    <title>NihaWeb</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="chatbox" class="chatbox">
                    {%if entry_message %}
                    <p><strong>Kushi:</strong> {{ entry_message }}</p>
                    {% endif %}
                    {% if question %}
                    <p><strong>You:</strong> {{ question }}</p>
                    <p><strong>Kushi:</strong> {{ answer }}</p>
                    {% endif %}
                <form method="POST" class="form-bottom">
                    <div class="form-group">
                        <input type="text" id="question" name="question" class="form-control" placeholder="Ask Niha">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>